article.post.gb-punct
	header
		h5 第二问
		h1 学术科普写作时如何把握专业和通俗的界限？
		p.meta
			span.author 邵立
			span.title 政见观察员
		
	section
		p 我加入政见4年多，写了约40篇研究速览，也曾经尝试过不同的写作方式。但对于“学术科普中专业和通俗之间的界限”这个问题，我觉得自己的理解依然流于表面，只能稍微谈谈我写作过程中面对过哪些棘手的困难。
		p 从我个人角度理解，社会科学科普面对的首要难题，不是通俗化的问题，而是专业化的问题。这和自然科学科普不一样。自然科学科普，我们需要物理学家来讲相对论，古生物学家讲恐龙和猛犸象的行为，天文学家讲恒星的寿命。离开专业人士，普通人很难对自然科学的研究对象形成自己的观点（星座运程不算，那是非科学的观点）。但对于社会科学的研究对象来说，很多人都能形成自己的观点：为什么川普是比希拉里更好的总统候选人？为什么中国不适合民主？为什么恐怖主义组织大都是伊斯兰教的？一个正常人，通过自己的观察和体验，接受、筛选并吸收各方面的信息，都会对这些问题有一定判断。
		p 所以，社会科学科普，必须考虑如何将社会科学与“普通人对社会科学研究对象的讨论”区分开来。这就意味着，我们不但要解释一个研究的结论是什么，还要介绍研究者的研究方法和证据。我写的〈负能量第二波：“官二代”更容易被重点大学录取〉一文，就花了很大篇幅介绍研究论文中统计分析的过程，因为这些过程和研究者如何得到结论直接相关。如果跳过这些分析直接写结论，那就和普通人日常生活观察谈论的观点没什么区别了。
		p 这种专业化倾向，暗中激励着科普写作者在写作中去使用专业理论术语和专业分析方法（比如统计方法），从而背离了通俗化的目标。对于〈负能量〉一文来说，统计学的内容为读者吸收文章信息制造了门槛。对于没有统计学背景的读者，有可能会出现两种情况 – 读者A视统计学为神明，统计都显著了，那就是铁打的事实了吧；而读者B呢，则觉得统计学不可靠，因为不能解释为什么自己身边，阿菁作为官二代去了二本，而阿南作为农民子弟却去了北大。
		p 而作为写作者，我是不希望出现A或者B这两种极端的，但目前也并没有更好的办法——除非把篇幅加长、把统计学的功能和局限都说清楚。但是，如果每篇文章都这样写，又好像太啰嗦了。所以，专业化和通俗化之间如何平衡，是对我个人而言挑战最大的地方，但迄今只能做到顾此失彼——观点复杂的，着重于理清观点思路；观点简单直白的，着重于介绍证据来源。
		p 社会科学科普面对的另一个难题，便是普通读者和研究者关心的问题往往是不一致的。由于我们立志要做一个面向普通读者的产品（尽管目测读者还是学界的人居多……），我每次都会尽力选一个读者可能会感兴趣的话题和呈现角度。比如，在我此前写的〈为什么出国留学后感觉自己更爱国？〉一文中，原论文作者关注的是跨国交流的效果如何、如何跟此前的理论观点对话。但我个人判断，读者可能更关心的是留学生是否更爱国这个话题，所以便用它作为介绍中的主要线索。
		p 当然，有些论文研究者和（我所认为的）读者关心的问题一致，这个挑战就不存在。比如〈正规军和游击队：民间反腐网站在中国和印度的迥异命运〉〈民主的丧钟已经敲响？〉这类文章，我直接把作者的思路介绍出来就好。不过，遇到这类论文要靠运气。
		p 社会科学科普面对的第三个难题，是很难找到有趣的表达方式。比如说，果壳网在科普熊猫时，可以将熊猫拟人化卖萌，但是我们在谈论社会问题，却不能将人比喻为熊猫……我觉得，社科科普中的比喻，很多时候会让人产生误解，但也许这是我想象力不足，或者太懒的缘故吧。
		p 为了调节气氛，有时我会在论述过程中加入一些诸如“你懂的”这样的语句，但我总对自己这种行为感到不满意。因为我既缺乏才华，不能像我的偶像仕图作者熊太行一样，将文章风格塑造得有趣，又破坏了我习惯的行文严肃的基调。但这也是一个摸索的过程，希望以后能慢慢完善自己的写作风格吧。
		p 我觉得自己很幸运，能遇到政见这样一个写作的平台，也因此得到了很多师友的热心帮助，学到了不少东西。研究速览和学术写作有很多一致的地方。如果说速览是把学者的观点介绍给普通读者，那学术写作也就是把自己或少数人的观点介绍给一个更广阔的学者圈（读者群）的过程。在这两方面，我都不敢称自己已及格。唯有今后汲汲进取，不断探索解决上述难题的答案，以飨读者。
