article.post.gb-punct
	header
		h5 第四问
		h1 政见的微信公众号如何涨粉？
		p.meta
			span.author 张烨
			span.title 政见编委会、微信运营成员
		
	section
		p 我在2013年底加入政见，一直担任新媒体运营的工作。除了发稿、写报告、收集内部八卦以外，最大的（也是最不上心的）任务就是涨粉。
		p 2014年1月1日，政见第一个微信公众号上线，虽然两年后不幸夭折，但我们在短短两年里积累了近16万粉丝，每个月也总有几篇文章阅读量破万。这在同类公号里并不多见：大部分非营销类的学术号，阅读量通常只有几百，哪怕他们的内容并不比我们逊色。
		p 或许有人会说，这是因为政见早在5年前已经成立，抢占了先机、积累了人气。但不可否认的是，涨粉也是要花心思的，也会遇到困难和瓶颈。以下就是我们在涨粉方面的一些心得体会。
		p 首先，作为一个零成本的志愿者团队，我们不可能通过买粉丝、打广告等方式涨粉。其次，作为一个画风相对严肃正经的学术平台，我们也不会无节制地卖萌乞怜。
		p 剩下相对“耍小聪明”的办法是“互推”，就是找一群和自己趣味相投（重点是粉丝要多）的公号，大家彼此推荐。这种方法的好处是可以在短时间内增加大量粉丝，坏处是各家粉丝趋同以后，效果不再那么明显。
		p 政见刚开始参与互推时，每次能涨数千粉。现在则只能涨几百到一千，而且互推活动越来越少，互推对象也缺乏新面孔。尽管如此，还是要感谢曾经和政见互推的小伙伴们：互推不仅让我们涨了许多粉，也让我们交到了许多新朋友。
		p 另一种更为“可持续”的涨粉方法，是通过生产好的内容来吸引读者。通常，一篇阅读量破万的文章会让我们额外增加数百个粉丝。比起互推，这一增长无疑是缓慢的，且需要投入更多的时间精力。但是，这种方法吸引来的粉丝往往是我们真正的“知音”，会在未来长期关注我们。
		p 然而，“好”的内容并不容易把握。对不同的人而言，“好”有不同的标准。我们的读者里，既有专业的社科学者，也有没经过社科训练的普通人。前者期待看到学术研究的“前沿”、方法上的突破，后者对背景故事、研究结论更感兴趣；前者喜欢准确严谨的表述，后者喜欢通俗有趣的标题党。我们很可能会在取悦一种人的同时被另一种人抛弃。但就我们的宗旨——拆掉知识的高墙——而言，我们还是希望能面向大众，而不是为小部分学术精英服务。
		p 随着微信红利期结束，涨粉的压力比以前更大。新号运营近一年，我们的粉丝才勉强恢复到原来的一半，这意味着我们要寻找新的突破口。最近看到的一篇文章提到，自媒体从业者要重视视频，利用视频播放量大这一特点为微信导流。事实上，政见也已经推出了自己的视频栏目，一篇阅读量几千的文章变成视频后，可以有20多万的播放量，可见这一涨粉方法的巨大潜力。
		p 写到这里，感觉我们跟圈粉的营销号也没什么区别。但是，当我回想起我们介绍过的上千篇论文、翻译过的免费出版的书、拒绝过的投资和软文，如果非要说出一点区别的话，我想是公共的善的本心。
