article.post.gb-punct
	header
		h5 第五问
		h1 政见如何在体例中打造品牌形象？
		p.meta
			span.author 钱争予
			span.title 政见设计师
		
	section
		p 2013年初春，寒假。我还在小心翼翼地为政见描一个新字标。
		p 面对品牌形象的重设计，过半的热情消磨在了大学时代的兼职经历中。对于纷繁的学生社团或不见经传的小企业，“品牌”主要是包裹零散物料的话术。彻夜向设计规范文档里堆砌的创意辞藻，只在次日清晨具有少许的观赏价值：这不过是一种项目完结的仪式。
		p 对我而言，政见是第一个特例。这并非完全因为自己作为志愿者，也身在团队当中。“政见”这个概念难以概括，“政见”所折射的多种侧面也让人难以取舍。
		p “体例”最初进入到我的设计流程，是在绘制政见网站的原型过程中。其间，我不经意想到，正文内容的标记规则有待制定。要解决的问题并不复杂：两级标题，内插图表，夹杂中英文献及学者信息，附带尾注且时而前缀按语——针对此种文体，如何在数字空间中共享一套XML标签和类属性值，来执行“标记”（markup）这一传统的编辑环节。我想，应该用一种风格指南式的文档来记述。如果说政见是一个心怀专业精神的学术普及团队，那么这种专业性自然也要浸润到不为人所见的编辑及发布流程中。
		p 2013年夏末，暑假结束。网站的开发略有搁浅，而《政见合辑》迎来了一次设计大手术。
		p 显然我做不成保罗·兰德，所以也想藉由版式设计的里外翻新，再多辟一条摸索文字设计新风格的小径。经过旷日持久的排版和校对，《政见合辑·二〇一三年春》并不如期地发布了。对于新文稿的题图，我略带私心地展示了全新的、实际上又全无新意的版面网格，它暗含了一个信号：政见的视觉形象，将从某种平淡无奇的设计工具入手，以笨拙的方式重新被塑造。
		p 这本三十二开的两百页小册子，真正磨人工夫的却是各篇研究速览结尾处那短短的参考文献列表。对照《芝加哥风格指南》，文献注记格式被机械地改写了一遍。同年夏秋两季的合刊，又不厌其烦地将文献注记格式整体迁向APA。
		p 那段时间，我开始热衷于搜集和对照学术出版物的风格体例，也开始将成熟的风格指南作为自己文字设计工作的参考手册。一旦开始在意“体例”这种原本属于编辑环节的系统规则后，我会变得对文字设计层面的粗劣和错乱异常敏感——被中文出版物包围时，过敏症状尤为显著。同期在Type is Beautiful的工作也让我意识到，文字设计中对“体例”的讲究，足以形成脱颖而出的品牌气质。
		p 当然，此前此后，《政见赛博空间文字设计风格守则》从未结稿成文。
		p 在政见进行文字设计的“体例”实验，是一件既简单又默契的事情，而这不是偶然。学院传统里，体例早已下沉为基础规训。聚集在政见的学人学子，关注学者及出版动向、也践行学术写作本身，体例是这支创作团队再熟悉不过的工具。
		p 《政见合辑》所实验的体例，也不全是规训本身。《合辑》逐渐成为了一个小型的文字设计风格游乐场：轮换开明式、全角式抑或外挂行末标点，都不会有出版审核的障碍；用单书名号括起汉字篇名、用意大利体高亮西文标题、用波浪线划出中日文书目，已成为功能之外的视觉装饰；如若有心，还能<ruby>自<rp> (</rp><rt>zuò</rt><rp>) </rp>然<rp> (</rp><rt>zuo</rt><rp>) </rp></ruby>地将行间注运用其中。这支团队创作的内容，在文字设计风格的适用性上，同样具有充分的柔韧度。
		p 然而，本应成为主线的品牌形象构筑，日渐稀释在琐碎的美工事务里。没有系统的视觉设计则例、没有成型的图片编辑指南，唯一有所记录的，仅仅是内容发布环节的校对意见。
		p 2015新年伊始，方可成建议我向读者介绍政见的品牌设计理念。然而回看之前三年的工作，其间并不存在一种有意识的、贯穿始终的“理念”。我真正乐此不疲的，好像只是一项近似“排字工”的勤务。
		p 直到政见众包翻译、线上出版的《粉丝公众》一书，成为一个契机。
		p 迫于日程，《粉丝公众》直接移植了《政见合辑》的文字设计体例：一百二十来条段落及行内样式，两组网格，一套复合字体及标点挤压规则——在这个庞杂的样式集中，我没有清点有多少内容被真正用到。最终，《粉丝公众》在三个快速成型的母版下将将压线完稿，虽然赶制的目录、版权页和术语对照表，多少有些不够服帖。作者张玮玉老师包容地接受了《合辑》遗传下来的文字设计“怪癖”，于是很荣幸地，“政见风格”首次得以在数字空间中装帧了一块他山之石。
		p 如果政见存在一种品牌形象，那么，以上就是它在视觉传达中所展现的染色能力吧，以“体例”为名，以“体例”之形。
	section.endnote
		h4 注
		ul
			li 字标「政见CNPolitics.org」于2013年1月重设计，汉字基于政见读者徐子渔的书法
			li 网站<a href="http://cnpolitics.org/">CNPolitics.org</a>自2013年2月起着手改版，2014年5月新版正式上线
			li 保罗·兰德（Paul Rand），已故美国平面设计师，以企业标识作品而著名
			li 文字设计（typography，又译“字体排印”），以文字为核心的视觉设计及呈现的总称 
			li <a href="http://www.typeisbeautiful.com/">Type is Beautiful</a>，一个关于文字设计和视觉文化的媒体计划
			li 《<a href="https://github.com/cnpolitics/fandom-publics">粉丝公众</a>》（<cite>The Internet and New Social Formation in China: Fandom publics in the making</cite>），张玮玉著，政见众包翻译组译制为中文，以CC BY-NC-ND 4.0授权方式出版