article.post.gb-punct
	header
		h5 第八问
		h1 志愿者团队的生产力如何保持？
		p.meta
			span.author 张跃然
			span.title 政见编委会成员、观察员
		
	section
		p 政见团队沟通工作事宜的微信群，名字叫做“[跃然@你] CNPolitics 工作群”。
		p 去年秋天，政见的一位同事在纽约试图拉一位姑娘加入团队，那位姑娘最大的顾虑是：“我听说你们那个张跃然催稿催得特别凶，我怕交不上怎么办……”
		p 的确，我目前在团队里除了写稿之外，最主要的工作就是催人干活：催观察员写稿、催编辑编稿、催同事为专题栏目贡献素材……
		p 在催人干活的职业生涯中，我使出过所有可以想象的招数：邮件催、私信催、朋友圈公开催、请吃饭催、从北京跑到上海催、从波士顿跑到纽约催……日复一日，我在同事们心中的形象也变得面目可怖起来。有一次，我在微信上祝一位同事生日快乐，那位同事回复的第一句话居然是：“我过了期中考试就交稿！”还有一次，一位同事告诉我，她在梦里梦见我催稿，于是被吓醒了。
		p 真是令人悲伤。
		p 这悲伤的现实，背后折射出的正是任何志愿者团队所必须面临的最大挑战：如何保证大家投入时间精力干活。
		p 每当向外界宣称政见是“志愿者团队”时，语气中总带有些许自豪感，好像团队成员个个都是充满高尚情操的理想主义青年一样。然而，理想很丰满，现实很骨感，情怀并不能转化成日常的生产力。
		p 志愿者团队之所以是志愿者团队，本质就在于一不能建立有足够约束力的强迫机制，二不能为成员的工作提供物质回报。尤其是在政见团队出于种种考虑，拒绝了正规化、拒绝了投资、拒绝了内容变现之后，在激励成员干活方面更显得无能为力。
		p 所以究竟靠什么让大家干活呢？
		p 靠政见的宏大愿景和理念吗？“拆掉知识的高墙”、“为公共舆论提供有价值的声音”，口号喊得好听，但宏大叙事只能作为日常生活的点缀，而不可能成为日常生活本身。把自己想象成宏大叙事的一部分、为自己做的事赋予某种崇高的意义，这更像是干完活之后的心理安慰，而不是促使自己干活的直接动力。
		p 团队赖以维持运转的许多工作，都是日常而琐碎、单调而乏味的，比如稿件编辑、配图、微信推送。做好这些工作，需要日复一日的毅力和耐心，而这些工作恰恰很难被宏大叙事的想象赋予意义。而对于司职写稿的观察员来说，想写出一篇高质量的稿件，需要付出大量的时间和精力——大家的学业和工作已经那么忙了，好不容易有点闲暇时间，为什么还要做如此劳心费神的事情？这不是自己找虐吗？
		p 我的经验看下来，志愿者团队要想维持生产力，主要靠两点。
		p 第一，人的惰性需要外部压力来克服，而“催”就是外部压力的来源。所以，需要有人死皮赖脸地催、持之以恒地催、丧心病狂地催。
		p 第二，更重要的是，之所以有人愿意付出大量时间精力为志愿者团队干活，很大程度上是因为，团队中的成员们相互之间产生了超出一般同事关系的生命联系。当最初在政见的“宏大愿景”感召之下产生的玫瑰色激情渐渐淡去、当日常而琐碎的工作看不到明显的物质或非物质回报时，唯有团队成员之间的情感纽带和共同体意识，才能支撑着大家日复一日地持续奉献。因此，对于志愿者团队来说，团队建设是至关重要的。
		p 这里便隐含着一个悖论：一个团队若想长期以志愿者团队的形式存在，那它几乎是不得不变成小圈子。只有当小圈子将大家团结在一起，当大家对这个小圈子产生归属感、将这个小圈子视作社交生活的重要部分之后，大家才会发自内心地希望维系这个小圈子的基石——政见这个平台本身——存在下去、并心甘情愿地为它添砖加瓦。这其中令人无奈的地方在于，小圈子使得团队或多或少地趋向封闭，这当然会对团队的后续发展产生一定的负面影响，比如在吸纳新成员方面。
		p 这个问题，我并不知道如何解决，或许也根本无法解决。毕竟，这几年的经历让我明白，志愿者团队的对外形象和其真实的日常运作之间，存在巨大的割裂。后者的模式，更多的是焦头烂额地遭遇问题、手忙脚乱地解决问题，基本上没有空间让我们去寻找完美的解决方案。
		p 如何在科普过程中平衡专业性和通俗性、如何应对剧烈变化的信息环境、如何处理学术和政治之间的多元关系……这些问题都十分重要，但对我个人而言，最重要的问题永远是：如何让政见不间断地有稿可发——这不是一件理所当然的事，而恰恰是一件需要花费大量心力去做的事。在隔三差五就要担心过几天会不会稿荒、担心编辑能不能按时把文章编完、担心明天会不会“开天窗”的状态中，我只觉得：政见每多活一天都是胜利。
		p 就这样一天一天地活下来，政见居然活了五年。
