.home-sign
	include ../../_svg/5years-sign.svg
a.signboard.signboard--1.home-entry.home-entry--1(href="javascript:void(0)")
	h3.signboard-heading 政见八问
a.signboard.signboard--2.home-entry.home-entry--2(href="javascript:void(0)")
	h3.signboard-heading 政见五年
	p.signboard-desc 用这25篇作品，回顾政见一路走来的五年
