.five-main.scrollview
	section.five-main-wrap.gb-punct
		a.five-sign(href="javascript:void(0)")
			include ../../_svg/5years-sign.svg
		article.five-card.five-head
			h1 用这 25 篇作品，回顾政见<br>一路走来的五年
			p 五年前的今天，2011 年 11 月 11 日，政见 CNPolitics 正式上线。
			p “拆掉知识的高墙”、把社会科学的学术研究成果推介给大众，是我们一直肩负的使命。五年来，政见团队刊发、推送的各类作品已近千篇，涵盖的题材、体裁极其丰富。
			p 对于一个以优质作品为生命线的团队来说，在五岁生日的时候，回过头来盘点那些曾经发布的作品，是一件顺理成章的事。只有在作品中，才能看到团队如何一步一个脚印地前行，才能看到团队在追求什么、坚持什么。
			p 因此，我们在五年里的近千篇作品中，挑选出25篇，请读者与我们一道，循着这些作品来回顾政见的发展轨迹。我们曾经刊出的好作品，当然远远不止这25篇；但这25篇作品，可算得上是政见团队发展史的剪影。
			p 这25篇作品，体现了我们如何在五年的时间里求新、求变、求突破，如何不断地拓宽视野、挖掘深度、尝试新的题材和体裁、积极回应时事热点。贯穿始终的，是政见团队为提升作品质量所作出的不懈努力，是团队成员们对“社会科学科普”事业的执着热爱。
		//- 1st year
		.five-milestone
			h5 第一年
			p 2011.11 – 2012.10
		article.five-card.five-body
			h3 中国城市中产：一个“求稳怕乱”的阶级
			p
				span.author 陶郁
			p 2011年，“中产阶级”在中国公共舆论空间还是一个新词汇。关于“中产阶级在中国政治进程中究竟扮演什么角色”的讨论，也正方兴未艾。在今天回过头看，应该更能体会这篇文章承载的重大意义。
			p
				a(href="#") ☞ 阅读全文
			h3 中国人也是歧视黑人的“种族主义者”？
			p
				span.author 陈仲伟
			p 在这篇文章刊出之后的几年里，我们见证了舆论场中针对在华居留的非洲人的种种尖锐声音，也见证了“把黑人洗白”的洗衣机广告，这篇文章讨论的内容也因此显得更加力透纸背。
			p
				a(href="#") ☞ 阅读全文
			h3 读图识政治｜中国的左派与右派
			p
				span.author 方可成
				span.author 龚方舟
			p 在政见团队成立之后的头两年里，信息图一直是政见的拳头产品。而这张作品，可能是政见出品的所有信息图中最著名的一张。它极大地提升了团队的知名度，许多人（包括许多目前的政见团队成员）第一次听说政见，都是因为这张图。
			p
				a(href="#") ☞ 阅读全文
			h3 社会不平等真的会导致“火山爆发”吗？
			p
				span.author 缪莹
			p 谈论中国的政治现实，不可能绕开这个问题。
			p
				a(href="#") ☞ 阅读全文
			h3 读图识政治｜图解中美苏民族政策
			p
				span.author 励轩
				span.author 卜书剑
				span.author 姚辰
			p 政见团队出品的又一信息图精品。
			p
				a(href="#") ☞ 阅读全文
		//- 2st year
		.five-milestone
			h5 第二年
			p 2012.11 – 2013.10
		article.five-card.five-body
			h3 中国的公共部门还不够臃肿？
			p
				span.author 刘岩川
			p 一个貌似“惊人”的结论，融化在作者独特的、娓娓道来的文风里。
			p
				a(href="#") ☞ 阅读全文
			h3 中国社会组织的两面性
			p
				span.author 杨鸣宇
			p 关于中国社会组织的研究，政见团队介绍过不少。这篇综述整合了多项研究，将政府与社会组织的关系中的复杂性细致描绘出来，因此独具分量。
			p
				a(href="#") ☞ 阅读全文
			h3 中国国家安全决策机制面临重重挑战
			p
				span.author 归宿
			p 政见团队一直持续关注外交事务与国际关系议题，这篇是有代表性的力作。
			p
				a(href="#") ☞ 阅读全文
			h3 中国研究为何被边缘化？
			p
				span.author 宿亮
			p 政见团队的多数文章都着力介绍具体的经验研究成果，而这篇则一反寻常，针对“中国研究”这一领域在比较政治学内的地位进行整体讨论，引人深思。
			p
				a(href="#") ☞ 阅读全文
			h3 维稳新手段：从抗议者的社会关系入手
			p
				span.author 袁幼林
			p “讲故事”的研究是好研究吗？倘若能从故事中以小见大，提炼出有穿透力的概念，从而加深我们对于中国政治的整体理解，那这样的研究无疑是好研究。这篇速览介绍的，就是这样一个好研究。
			p
				a(href="#") ☞ 阅读全文
		//- 3rd year
		.five-milestone
			h5 第三年
			p 2013.11 – 2014.10
		article.five-card.five-body
			h3 告别打口时代：中国摇滚乐与城市青年文化
			p
				span.author 于灵歌
			p 从文化现象中看时代变迁，字里行间透着满满的沧桑感和怀旧情结。文中提到的歌手、乐队和歌曲，也足以组成一张展现中国摇滚乐发展起伏的经典歌单了。
			p
				a(href="#") ☞ 阅读全文
			h3 “南稻北麦”真的导致了文化差异吗？
			p
				span.author 王绍达
			p 这篇速览介绍的研究，发表在《科学》杂志上，并引起了很大争议。这篇速览不仅将该研究的争议点清晰地展现在读者面前，更在“如何既浅白又严谨地介绍定量研究方法”方面树立了行业标杆。
			p
				a(href="#") ☞ 阅读全文
			h3 热点解读｜燕京学堂引发的“英语授课”之问
			p
				span.author 曹起曈
			p 2014年夏天，关于燕京学堂的争议持续发酵。这篇作品综合大量研究，深入讨论了争议之中常常被忽略的一个重要方面。
			p
				a(href="#") ☞ 阅读全文
			h3 政见访谈｜李静君：中国政府“花钱买稳定”的逻辑
			p
				span.author 王韬
			p 在“研究速览”之外，“学者访谈”也是政见团队常常推出的一种文字作品形式。五年来，已经有三十多位学者接受过政见团队的深入采访。李静君老师的这篇访谈，读下来让人颇有酣畅淋漓之感。
			p
				a(href="#") ☞ 阅读全文
			h3 香港供水系统背后的政治角力
			p
				span.author 张烨
			p 港台政治，也是政见团队关注的重要领域。这篇速览刊发之时，恰逢香港政治的关键转折时期；其中讨论的议题，到今天依然牵动许多人的神经。
			p
				a(href="#") ☞ 阅读全文
		//- 4th year
		.five-milestone
			h5 第四年
			p 2014.11 – 2015.10
		article.five-card.five-body
			h3 韦伯错了吗？ ——来自发展经济学的证据
			p
				span.author 王也
			p 这篇原本是对当时社交媒体上一场论争的回应，但即使跳脱出这一背景来看，本文依然是难得的上佳之作：磅礴的文风、宏大的视野、深厚的功底，以及在“如何看待经典学术作品”这一问题上极为严谨的扬弃态度。
			p
				a(href="#") ☞ 阅读全文
			h3 美国高校怎么教“马克思主义原理”？
			p
				span.author 张跃然
			p 政见团队在微信时代第一篇阅读量破十万的原创文章。
			p
				a(href="#") ☞ 阅读全文
			h3 天津为什么成为一座“没有新闻”的城市？
			p
				span.author 方可成
			p 政见团队在微信时代第二篇阅读量破十万的原创文章，对于天津爆炸事件后媒体生态的独到分析。
			p
				a(href="#") ☞ 阅读全文
			h3 社会学家可以协助谋杀吗？——关于研究伦理的争议
			p
				span.author 刘冉
			p “社会科学科普”的任务，不仅仅局限在向大家介绍具体的学术研究发现，而更是要带领大家反思“社会科学研究”这一活动本身所面临的种种深刻困境。在这方面，本文交出了一份高质量的答卷。
			p
				a(href="#") ☞ 阅读全文
			h3 从政之路，男女有别：女性更容易接手烂摊子，然后被撤换
			p
				span.author 刘冬舒
			p 洪秀柱被国民党废止总统参选人资格之后的第二天，政见团队推出了这篇文章。在舆论场上有关“换柱争议”的讨论中，“性别与政治”的视角并不多见，好在政见没有缺席。
			p
				a(href="#") ☞ 阅读全文
		//- 5th year
		.five-milestone
			h5 第五年
			p 2015.11 – 2016.10
		article.five-card.five-body
			h3 穆斯林在日本过得咋样？
			p
				span.author 尹月
			p 这同样是一篇回应时事热点的佳作，用学术研究的成果驱散流言和迷思。
			p
				a(href="#") ☞ 阅读全文
			h3 罗曼蒂克的性爱：每周啪啪啪几次最幸福？
			p
				span.author 马亮
			p 2016年的情人节，不甘寂寞的政见团队推送了三篇专题文章，其中要算这一篇的画风突变程度最为剧烈。
			p
				a(href="#") ☞ 阅读全文
			h3 你家小区的围墙为什么要拆了？因为中国城市规划的范式变了
			p
				span.author 谭宏泽
			p “打开封闭式小区”的政策一出台，就引发了巨大争议。这篇将视野拉开，挖出了政策背后中国城市规划范式转变的历史逻辑，堪称“学术科普” 和“时事评论”二者属性的经典结合。
			p
				a(href="#") ☞ 阅读全文
			h3 中国劳工运动会毁于精英主义吗？
			p
				span.author 赵蒙旸
			p 一些政见团队成员，常常在文章中倾注自己的问题意识和政治关怀。作为这类文章的优秀代表，这篇作品既体现了作者对某些现实问题所持有的鲜明立场，也流露出强烈的自我批判倾向，因此显得格外动人。
			p
				a(href="#") ☞ 阅读全文
			h3 民主的丧钟已经敲响？
			p
				span.author 邵立
			p 又是一个貌似“惊人”的结论。许多研究之所以意义重大，不在于其提供的证据和论述绝对地令人信服，而在于其提出的问题极其重要、引人深思。这篇文章介绍的研究正是如此。
			p
				a(href="#") ☞ 阅读全文
		//- END
		.five-milestone--signboard
			a.signboard.signboard--1(href="javascript:void(0)")
				h3.signboard-heading 政见八问