article.post
	header
		ul.tag
			li 中产阶级
			li 公民社会
			li 政治参与
			li 日本
		h1 中国城市中产：一个“求稳怕乱”的阶级
		p.meta
			span.author 陶郁
			time 2011-12-22
		
	section
		p 中国的新兴城市中产阶级非常重视自身在经济等方面的自由，但他们的政治态度却相对保守。研究显示，这个阶层倾向于支持技术官僚，信任中央政府，并且认为社会稳定比个人言论自由更加重要。
		p 长期以来，在众多学术研究和媒体报道的勾画下，“经济增长孕育中产阶级，中产阶级推动社会变革”似乎成为了各国发展的不二路径。这幅简洁明快的“社会进步流程图”虽然拥趸甚众，但它对现实世界的解释力也常遭质疑。
		p 东京大学东洋文化研究所教授园田茂人就是质疑者之一。基于对大规模抽样调查数据的定量分析，园田在《中国研究国际期刊》（<cite>International Journal of Chinese Studies</cite>）上撰文指出：上述图景并不能准确描述当前中国城市新兴中产阶级的特征。
		p 通过分析调查数据，园田发现，中国的新兴城市中产阶级非常不信任包括电视、广播和报纸在内的传统大众媒体，该阶级中高达七成左右的受访者表达了对这些媒体的负面态度。与亚洲其它国家处于类似阶级的民众相比，中国的新兴城市中产阶级更为信任以互联网为载体的新媒体。而对于自己是否享有充分言论自由和批评政府的权利，他们存有疑虑。
		p 新兴城市中产阶级的政治参与意愿非常有限。表示自己可能会参加合法请愿、抗议、示威活动的受访者分别只占总样本数量的2%、3%和5%——这种比例不仅远远低于西方国家，也远远低于日韩等同样深受儒家文化影响的国家。不过，当政府不能满足要求时，新兴城市中产阶级并不会消极等待——许多人倾向于通过私人渠道解决问题。
		p “求稳怕乱”是新兴城市中产阶级的另一个重要特点。与韩国和台湾地区相比，中国大陆的新兴城市中产阶级对技术官僚的信任程度不仅较高，而且比较稳定。当面临暴力拆迁、非法收费、贪污腐败和破坏环境等社会问题时，来自这个阶级的社会成员更可能对地方政府而非中央政府失去信任。
		p 同时，调查数据显示，有超过六成的该阶级受访者表示，“维护社会稳定”比“控制物价上涨”“扩大言论自由”和“加强政治影响”等政策议题更为重要。
		p 那么，为什么中国的新兴城市中产阶级在政治态度上会呈现出独特的保守性呢？园田认为，原因主要在于，该阶级成员一般都是经济改革的受益者，他们不仅有动机拥护现行经济体制，并且倾向于希望社会保持稳定，与执政党的政策思路比较一致。而这个阶级的政治态度是否会随着经济和社会的进一步发展而出现变化，园田则认为现在判断还为时过早，需要进一步的观察。
		p 园田所分析的数据分别收集自“亚洲民主动态调查”（AsiaBarometer）和“当代中国结构变迁”这两项大型研究。由于上述调查中缺乏测度阶级文化和阶级认同的指标，他使用职业和职位对受访者阶级进行了判别。具体来说，在处理“亚洲民主动态调查”数据时，他认为新兴城市中产阶级包括高级管理者、专业技术人员以及行政和销售职员；而在处理“当代中国结构变迁”项目数据时，他则认为新兴城市中产阶级包含个体和私营企业中从事技术、行政和销售的员工，外加其它企业中的管理人员。
		p 园田的阶级划分方法存在一些值得商榷的地方；例如，将低端行政和销售岗位的工作者划归中产阶级似乎与人们的惯常印象不甚切合。然而，考虑到在转型期国家中进行阶级划分的困难性，较之相关领域许多对“中产阶级”这个概念不加界定就直接讨论的学术文献，园田的做法还是相对严谨与合理。
	section.endnote
		h4 参考资料
		ul
			li Sonoda, S. (2010). Emergence of middle classes in today’s urban China: Will they contribute to democratization in China? <cite>International Journal of China Studies 1</cite>(2), 351–369.

		h4 注：
		ul
			li “亚洲民主动态调查”始于2003年，如今已覆盖28个国家和地区；園田在研究中使用了2006年数据，该年度的调查以儒家文化圈为对象，包含通过分层随机抽样选取的1000个中国城市样本。
			li “当代中国结构变迁”项目由日本文部科学省和日本学术振兴会赞助，分别于1997—99年间和2005—06年间进行了两轮调查，研究者在天津、重庆、上海和广州等四座城市中各抽取了1000个左右的样本。
	footer
		p 本文刊发于2011年12月22日出版的《青年参考》