article.post.gb-punct
	header
		ul.tag
			li 供水
			li 香港
		h1 香港供水系统背后的政治角力
		p.meta
			span.author 张烨
			time 2014-10-21
		
	section
		p 供水一直是香港面临的难题。1960 年，香港同意接受中国大陆供水，成本低廉，但几乎同一时间，港英政府开始花巨资建立起一套发达的本地供水系统。这种 “多此一举” 的行为背后，是一个在复杂地缘政治处境中艰难生存的香港。
		p 在最近发表的一篇论文中，香港中文大学政治与行政系的李家翘博士梳理了香港供水问题背后的政治角力。他指出，香港供水呈现的并不是一个从发掘本地资源到依赖大陆的自然过程，而是曲折复杂的政治结果。中英双方对香港供水权的竞争、各方力量对香港的支配、变化中的边界本质与政治格局，共同造就了香港拥有世界级本地供水系统而依赖大陆供水的奇怪现实。
		h3 身处三大夹缝间的香港
		p 1842 年，成为英国殖民地的香港再也不是普通的南方一隅，而是长期置身复杂脆弱的地缘政治之中。李家翘认为，这种复杂性具体表现在三个方面。
		p 首先，香港夹在中英之间。殖民地时期，香港是英国对华贸易的门户，也是重要的军事基地。无论是清帝国还是中华民国，对香港 “外国势力桥头堡” 的身份都十分忌惮。1949 年新中国成立，解放军行军至当时的中港边界，令殖民地大感恐慌。最后中方出于现实考量，决定暂不进入香港。然而英方清楚地意识到，自己在香港的统治已受到威胁。于是他们采取了一种现实主义策略，把自身角色约束在维护香港内部秩序上，以免激怒中国。香港回归前，中英间对于香港的争夺没有停止。
		p 其次，香港夹在美苏两大阵营之间。冷战时期，香港的处境变得更加复杂。它夹在中英之间，中英又分别属于两大敌对阵营。这种微妙的处境令治港者如履薄冰，许多政策必须灵活处理才能化险为夷。例如在朝鲜战争中，尽管香港需要（跟随英国）履行联合国对中国的禁运政策，大量物资还是技巧性地经由香港运到了中国。冷战或许已经结束，但意识形态战争的阴影仍然挥之不去。
		p 最后也是最容易被忘记的，香港夹在国共之间。在国民党败退台湾、香港尚未回归的这段时间里，香港成为双方角力的战场。有数据表明，1980 年代，国共双方共有约 6 万人在香港活动。此外，因其特殊的地理位置和复杂的历史背景，不同势力都在积极争夺在香港的利益。今天的香港，仍是世界重要的情报中心。
		h3 淡水的战略意义
		p 正因为长期处在这种复杂的地缘政治之中，香港的发展基础十分脆弱。审视一套供水系统的建立，我们看到的更多是政治较量。
		p 尽管气候潮湿多雨，但香港的供水长期得不到保障——花岗岩岩层无法提供充足的地下水，地表又缺少主要河流与湖泊。降水量大但集中于春夏季，且狭小的土地无法有效贮存雨水。从殖民地早期开始，香港就需要自己解决供水问题。然而二战后人口激增、经济发展，原有供水量远远无法满足需要。1959 年的一场大旱，迫使港英政府在 1960 年同意接受内地供水。
		p 淡水作为一种战略性物资，由谁来供应关乎政治利益。城市生态安全理论（urban ecological security theory）认为，对外来生态资源的过度依赖会威胁城市生态安全和政治 “尺度”（scale，参考 ‘比例尺’ 的定义）。英国为了维护香港殖民地独立城邦的地位（小尺度），避免其成为中国的一部分（大尺度），在接受大陆供水的同时制定了如下策略：一方面接受来自中国的供水以解燃眉之急，另一方面，建立起香港本地独立供水系统，使香港日后不再依赖中国供水。
		p 在建立自给自足供水系统的目标下，香港于 1960 年开始兴建船湾淡水湖（Plover Cove）。这并非第一个本地大型供水项目，但它是港英政府因应香港向内地购水而推展，有战略意义。这项工程直到 1968 年才建成，原本预计可使香港在七十年代无需依赖大陆供水。然而在 1962-1964 年，香港遭遇了极为严重的干旱。港英政府与广东省协商，计划建立东深供水工程（Dongshen Scheme），引东江水入香港。协商起初很不顺利，英国担心中国趁机提出更多政治条件。后来在周恩来总理的干预下，双方终于达成一致，1965 年开始向港供应东江水。
		h3 政治动荡中，本地供水系统建立
		p 供水的争夺远未停止，并卷入了更糟糕的政治环境之中。1967 年，在大陆文革影响下，香港本地左派发动抗英暴动，被当局镇压。长达数月的暴动和外交冲突使英国意识到自己正逐渐失去对殖民地的控制，危机感大大增强。
		p 在这段敏感时期里，干旱使香港再次面临严重缺水问题。而根据供水协议，中国已完成了该年度对香港的供水任务。港英政府要求增加供水的请求没有得到回应，他们的限水政策（每 4 天供应 4 小时）被左派斥为打压运动的卑劣手段，双方大打舆论战。港英政府担心这次事件之后，中国再也不会向香港供水。建立本地供水系统的紧迫性空前提升。在随后的时间里，港英政府加高了船湾淡水湖，着手建立万宜水库（High Island Reservior），并把几番搁置的海水淡化工程重新提上议程。
		p 海水淡化是一种新方法，虽然成本高昂，但不受降水波动影响，对急于摆脱对中国供水依赖的港府来说不失为一个好选择。当时计划使用核能淡化海水，但问题是：如何避免中国趁机获得核信息与核原料？经过评估，英方认为这样的风险并不存在：当核能海水淡化系统建立时，中国应有同等的核知识，香港的核反应堆对中国意义不大；即使中国获取核原料，也需要很强的能力才能把它用在军事上。
		p 除英国外，美国也积极介入香港的海水淡化项目，希望港府把建造工程承包给美国公司。这一方面是出于战略考虑：美国不希望香港日益依赖中国供水，甚至愿意为海水淡化项目提供经费。另一方面则是商业考虑，美国希望抓住全球海水淡化市场的机遇，香港是重要的一步。
		p 至七十年代末，香港相继建成了船湾淡水湖、万宜水库和乐安排海水淡化厂（Lok On Pai Desalter）。这三个世界级水利工程帮助香港减缓了供水压力和政治压力：1969-1979 年，来自大陆的水只占香港用水的 27%，英国维持香港供水独立性的目标得到实现，殖民地城邦的尺度得到巩固。
		p 然而，水利工程带来了巨大的财政负担。仅万宜水库的建造就花费了 13.48 亿港币，占了港府 1972 年预算的 31%。海水淡化更是烧钱，每年燃料费就需要 1.46 亿港币。相比之下，从大陆买水要便宜得多，水管等运水设备在 1961 年的建造中只花了 890 万。但如前文所言，在这一时期，经济从来不是中英双方在供水问题上的第一考量。
		h3 回归前后的供水变化
		p 直到香港主权归属明朗化，港英政府才逐渐放弃了对本地供水系统的强化。
		p 在中英谈判和发表联合声明的这段时间里，海水淡化项目被停止。“乐安排” 这个曾经世界上最大的海水淡化厂，后来成了跳蚤市场。计划新建的水库也因成本高昂而流产。于是，对大陆供水的依赖迅速回升，1985 年，超过一半的香港用水来自大陆；1991 年，这一比例已增长到 80%。东江水的进口量甚至超过了本地需求，多余的水只能贮存在原本用来摆脱大陆供水的水库里，导致这些水库自身蓄水能力下降。
		p 1997 年，香港最终由一个殖民地城邦成为中国的特别行政区。中国不必再靠大量供水扩大在港影响力，而随着其他城市和香港的差异逐渐缩小，中国亦不会在水资源分配上特别照顾香港。按照 2008 年起的 “广东省东江流域水资源分配方案”，香港每年可获得11亿立方米水，低于惠州的 25 亿、东莞的 21 亿、深圳的 17 亿和广州的 14 亿。在 2011 年的新方案中，面对其他城市的竞争，香港获得的供水减少到 8.2亿立方米/年。
		p 时隔多年，香港再一次感受到了供水压力。强化本地供水系统再次被提上日程，港府着手兴建新的海水淡化厂。但李家翘认为，大陆对香港的供水不会停止，因为 “共饮一江水” 是融合的象征。而重新强化本地供水系统亦不是为了恢复往日的独立性，而是香港目睹珠三角各城市对东江水需求上升，自觉做一个通情达理的好伙伴。
		h3 “边界学说”
		p 在这篇论文中，李家翘将 “边界学说” 引入政权理论与政治生态理论关于尺度的争论之中，指出边界本质的改变会影响社会生态与尺度转换（socio-ecological－scaling）二者之间的互动。按照传统理论，1959 年后接受中国大陆供水（大的生态尺度的建立）的香港可能丧失殖民地城邦地位（大的政治尺度的建立），但这直到 1979 年之后才发生，因为边界本质在影响两者的互动。在成为英国殖民地的 155 年中，香港和内地之间被一条边境（border）所隔开。1959-1979 年，边界的不确定性导致港英政府采取相应的策略（建立本地供水系统），避免因接受大陆供水而使香港殖民地城邦的地位受到威胁，干扰了生态尺度与政治尺度之间的互动。而 1979 年后，英国知道中国将收回香港，边界的本质得到确定（从两国之间的 border 变成一国之内的 boundary），英国重新调整策略，二者的互动才能被原有理论解释。
		p 研究者从地缘政治角度反思香港现有体系，也有助于我们更好地思考香港的未来。香港长期处在一种复杂敏感的地缘政治之中，艰难生存、脆弱发展。受制于这样一种特质，香港供水系统的建立呈现出的是各方力量的撕扯，而不是港人从实际需求出发的自主选择。今日的香港不再是悬而未决之地，也不是 “借来的时间、借来的空间”，而是七百万人安身立命的家园。能否理性看待这种地缘政治的敏感性，理性应对港人的诉求，是我们寻找出路的关键。
	section.endnote
		h4 参考文献
		ul
			li Lee, N. K. (2014). The changing nature of border, scale and the production of Hong Kong’s water supply system since 1959. <cite>International Journal of Urban and Regional Research, 38</cite>(3), 903–921.
	footer
		p 部分内容整理自李家翘博士所授课程的课堂笔记