article.post.gb-punct
	header
		ul.tag
			li 韦伯
		h1 韦伯错了吗？ ——来自发展经济学的证据
		p.meta
			span.author 王也
			time 2015-03-14
		
	section
		p 文化如何影响经济发展？关于这一主题，影响最为深远的论述大概就是马克思·韦伯在其不朽名著《新教伦理和资本主义精神》中所作的分析。韦伯指出，新教使人们相信，唯一为上帝所接受的生活方式就是通过不断劳作来履行个人在尘世间的责任，同时证明自己是上帝选民中的一员。这一“新教伦理”促使人们摒弃享乐，积累财富，为资本主义的发展提供了物质和道德基础。
		p 2009年，两位经济学家Doepke和Zilibotti在《经济学季刊》（QJE）上发文，基于韦伯的思想，构建了一个精巧的动态博弈模型，试图说明文化因素如何影响了工业革命前后的社会结构。
		p 他们假定，父母可以主动“投资”（即影响）子女对时间和闲暇的偏好（即耐心程度和吃苦耐劳精神），且其效用受到子女福利水平的影响。在一个前工业时代的社会里，穷人（没有土地的家庭）可选的职业只有农民（不需人力资本投入）和工匠（需要人力资本投入）两类。假定存在预算约束，即家户不能借贷，那么对于穷人来说，理性的选择是尽可能地让孩子更加耐心、更能吃苦，以便更好地适应工作岗位；而对于富人（有土地的家庭）来说，因为租金收入跟努力程度无关，培养孩子对闲暇的热爱则更为合宜。均衡状态下，整个社会会自动地分为偏好不同的两个阶层，其中穷人的子弟会根据农民和工匠的相对收入选择自己的工作。
		p 但是，一旦工业革命发生，一种新的职业——通过储蓄和投资成为企业家——对大众开放，事情会变得大不一样。由于比富人更有耐心、更能吃苦，比农民有更高的人力资本，工匠家的孩子会实现更快的资本积累，逐渐提升收入水平，最后超越原先的富人阶级，成为新社会中占据优势地位的集团。两位研究者指出，模型得出的结论跟工业革命前后的实际社会情况相当符合。
		p 当然，无论是早年的韦伯还是后来的博弈模型，都只是援引了史实叙述来阐明自己的观点，并未得到数据资料和统计工具的支持（韦伯只是进行了一些跨国比较）。“新教伦理”真的存在吗？其对于经济发展的作用是否真像韦伯所说的那样明显？
		p 两位德国经济学家S. Becker和L. Woessmann于2009年在QJE上发表的论文试图回答这一问题。他们利用19世纪普鲁士的人口普查数据证明，韦伯的观察确有其合理之处：新教徒密度较高的地区，确实有更高的经济发展水平（比如更高的人均所得税收入）；这一现象甚至在今天的德国依然存在。然而，具体的机制却跟韦伯设想的大不一样：在控制了各地平均识字率差别之后，两位研究者发现，新教徒密度对于经济发展水平的影响消失了！
		p 他们对此给出的解释是：宗教改革常常为人忽视的一个方面，就是其对于教育事业的推动作用。马丁路德本人相信，教众应该获得自己阅读圣经的能力；因此他一方面号召各地领主修建公立学校，一方面鼓励群众送子女入学。这一举动的结果，就是无论在19世纪的普鲁士还是如今的德国，新教徒较多的地区人均教育水平普遍更高。因此，不是看不见摸不着的“新教伦理”，而是新教对教育投资（或者说人力资本积累）的鼓励，促成了“资本主义精神”的快速发展。
		p D. Cantoni发表于2014年的论文，对上述结论形成了有益的补充。公元1555年，在经历了教派之间的多次流血冲突之后，神圣罗马帝国皇帝查理五世和德意志新教诸侯在奥格斯堡签订和约，规定了“教随国立”的基本原则。从此，帝国境内的大小诸侯可以自由地选择自己尊奉的教派。利用1300-1900年间，神圣罗马帝国境内272座城市的人口数据，研究者发现，在奥格斯堡和约签订之后，那些选择了新教的城市并未比天主教城市表现出更快的发展趋势。为了进一步控制两类城市之间可能存在的潜在差别，作者利用了如下史实：距离维滕贝格（路德张贴《九十五条论纲》之处）越近的城市，就越可能选择尊奉新教；而这一距离跟城市的特质并无关系。然而，即使只考虑这一外生因素导致的教派变化，新教城市仍然没有比天主教城市表现得更好。
		p 研究几乎同一问题的两篇文章，为何结果会如此迥异？Cantoni认为，这主要是由于直到第二次工业革命（19世纪上半叶）之后，人力资本的重要性才日渐凸显；在此前漫长的历史阶段，稍高的教育水平并不会给城市的发展带来显著变化。这进一步说明，“新教伦理”本身对于经济增长的贡献，其实可以忽略不计。
		p 更为有趣的是，经济学家们在中国也观察到了类似的现象。香港科技大学的龚启圣和白营两位研究者利用1920年代的历史记录发现，当时传教士比例较高的中国县城，其经济发展水平也相对更高。然而，有没有可能是经济发达的地区，会吸引更多的外国传教士呢？为了排除这种可能性，两位作者考察了义和团运动这一历史事件形成的外生冲击：以“扶清灭洋”为宗旨的义和团，主要根据地在长江以北；而在长江以南，张之洞和李鸿章等人签订了所谓“东南互保”的协议，为外国人的生命和财产安全提供了保障。因此，一座县城离义和团运动的发生地越远，离江南越近，就越可能吸引较多的传教士。通过这种方式，作者们成功建立起了从人均传教士比例到经济发展水平的因果关系。但跟Becker和Wossemann的文章一样，在排除了当地人均的学校和医院数目的影响后，传教士比例的作用就不再显著。
		p 此外，两位作者还分别考察了基督教不同教派影响的差异。如果韦伯提出的机制是正确的，那么最为恪守清规加尔文宗应该对经济发展影响最大；但实际观察到的结果，反而是长于兴学校、建医院的路德宗所起效果最为明显。
		p 综合上述的研究成果，我们似乎可以说，韦伯的理论已经成功地被当代的经济学研究证伪。那么，是不是如一些人宣扬的那样，我们可以把韦伯留下的那些大部头统统扫进垃圾箱了呢？
		p 从目前发展经济学，尤其是文化经济学的前进趋势来看，恰恰相反，经济学家们开始更加热烈地拥抱韦伯。事实上，韦伯的著作已经成了经济学家们在讨论文化与人类行为关系时的基本参照系和出发点（见Alesina & Giuliano, 2013; Nunn, 2013）。经典之所以为经典，并不是因为全篇严丝合缝、毫无纰漏，而是因为其宏大的框架和宽广的视野，让我们每次阅读，都能产生新的体会，激发新的思路。戴蒙德的地理决定论早已被Acemoglu的一系列工作证明是漏洞百出（Acemoglu, 2002, 2005），普特南关于意大利城市社会资本积累的阐释也被认为是不符史实（Fukuyama, 2014），但《枪炮、细菌与钢铁》和《使民主运转起来》仍然是每一个发展经济学和政治经济学研究者不可不备的案头读物。随着社会科学的发展，这些曾经的巨人，将会一次又一次被后人踩在脚下；然而，只有站上他们的肩头，举首四顾时，我们才能意识到，他们曾经的艰辛跋涉，将我们和天空的距离缩短了多少。
	section.endnote
		h4 参考文献
		ul
			li Acemoglu, D., Johnson, S., & Robinson, J. A. (2002). Reversal of fortune: Geography and institutions in the making of the modern world income distribution. <cite>The Quarterly Journal of Economics, 117</cite>(4), 1231–1294.
			li Acemoglu, D., Johnson, S., & Robinson, J. A. (2005). Institutions as a fundamental cause of long-run growth. <cite>Handbook of Economic Growth, 1</cite>, 385–472.
			li Alesina, A., & Giuliano, P. (2013). Culture and institutions (No. w19750). <cite>National Bureau of Economic Research</cite>.
			li Bai, Y., & Kung, J. K. S. (2014). Diffusing knowledge while spreading God’s message: Protestantism and economic prosperity in China, 1840–1920. <cite>Journal of the European Economic Association</cite>.
			li Becker, S. O., & Woessmann, L. (2009).Was Weber wrong? A human capital theory of protestant economic history. <cite>Quarterly Journal of Economics, 124</cite>(2), 531–596.
			li Cantoni, D. (2014). The economic effects of the Protestant Reformation: Testing the Weber hypothesis in the German Lands. <cite>Journal of the European Economic Association</cite>.
			li Diamond, J. M., & Ordunio, D. (2005). <cite>Guns, germs, and steel. National Geographic</cite>.
			li Doepke, M., & Zilibotti, F. (2008). Occupational choice and the spirit of capitalism. <cite>The Quarterly Journal of Economics 123</cite>(2), 747–793.
			li Fukuyama, F. (2014). <cite>Political Order and Political Decay: From the Industrial Revolution to the Globalization of Democracy</cite>. Macmillan.
			li Nunn, N. (2013). Historical development. <cite>Handbook of Economic Growth, 2</cite>, 347.
			li Putnam, R. D., Leonardi, R., & Nanetti, R. Y. (1994). <cite>Making Democracy Work: Civic Traditions in Modern Italy</cite>. Princeton University Press.
			li Weber, M. (2002). <cite>The Protestant Ethic and the Spirit of Capitalism: And other writings</cite>. Penguin.
