article.post.gb-punct
	header
		ul.tag
			li 社学会
			li 学术伦理
		h1 社会学家可以协助谋杀吗？——关于研究伦理的争议
		p.meta
			span.author 刘冉
			time 2015-08-17
		
	section
		p 社会学界恐怕无人不知戈夫曼大名。作为20世纪最著名的社会学家之一，厄文·戈夫曼（Erving Goffman）开创了拟剧论并深刻地影响了符号互动论的发展；他的著作《日常生活中的自我呈现》是所有社会学学生的必读书目。
		p 不过，如今说起社会学家戈夫曼，恐怕我们就得多问一句：“哪个戈夫曼？” ——厄文·戈夫曼的女儿爱丽丝·戈夫曼也是一名社会学家，目前任教于威斯康星大学麦迪逊分校。今年才33岁的她，在社会学界的名气已不逊色于父亲；她于去年出版了一本广受好评的著作，被视为社会学界一颗冉冉上升的新星。
		p 然而今年，戈夫曼却经历了一场暴风雨般的质疑。基于她的研究，一名法学家竟然指责她参与策划谋杀！究竟是怎样的社会学研究，会让戈夫曼顶上如此惊人的罪名？这场风波的背后，其实是一场对于民族志研究伦理的争论。
		h3 住在贫民窟的普林斯顿女孩
		p 爱丽丝·戈夫曼本科就读于宾夕法尼亚大学，博士则进入普林斯顿大学社会学系。她显然不满足于“戈夫曼之女”的光环，而是一心要自己做出个大研究。大二时，她搬进了西费城黑人贫民窟，观察和研究当地青年的生活，特别是他们与警察和法庭等权威机构之间的关系。她将自己居住的街区称为“六街”。
		p 戈夫曼在六街一住就是六年，与这些青年以及他们的女友和家人都成了好朋友。她亲身经历了数次警方的深夜突击检查，看到身边好友一个个入狱又出狱；她陪同他们出庭，在他们入狱后去探监，帮助他们处理伤口，被他们视为可信任的亲人；最后，她甚至经历了最亲密的朋友和室友、一个化名为“查克”的黑人青年遭仇人枪杀的惨剧。戈夫曼将这一切写进了她的毕业论文，经修改后由芝加哥大学出版社出版成书，题为《在逃：一个美国城市中的逃亡生活》（On the Run: Fugitive Life in an American City）。
		p 《在逃》一书认为，权威机构长期对有色贫困人口所处的街区采取密集监控和拘捕的管控方式，令这些居民在自己家门口变成了逃亡者。戈夫曼在书中写道：“贫穷黑人区面临的严刑峻法对整个社区造成了深远影响，不仅仅对年轻男性来说如此，对他们的家人、伴侣和邻居也同样如此。” 警方会在社区内频繁地截停路人并搜身；他们常常闯入中年居民家里，搜索青年逃犯或毒品；他们会进入医院拘捕正在求医或探访亲友的可疑人物，导致许多青年即使受伤也拒绝去医院。
		p 虽然当地居民也希望能够减少毒品交易和暴力犯罪，但政府、警察和司法系统只是单纯通过威吓来提高权威，却并没有尝试过为这些失学和失业的年轻人提供合法生存的出路。结果，过多的警力非但无助于改善社区治安，反而加剧了社区居民面临的歧视和不公，并进一步阻碍了他们向上流动的可能。
		p 自2014年5月出版以来，《在逃》几乎得到了一面倒的好评。《纽约书评》为其撰写了长篇评论；《纽约时报》认为“书中细节和戈夫曼对其研究对象行为动机的深刻理解令人震惊，同时也引人入胜”，并将其评为“2014年100本好书”之一。戈夫曼更受邀做了一次TED演讲，迄今已有上百万次点击。
		p 《在逃》一书材料珍贵、文笔细腻、理论扎实、分析深入，不仅呈现了此前不为人知的隐秘角落，而且有一个戏剧性的好故事；此外，这本书的结论也颇符合美国社会学界关心底层和批判权力的传统，因此已被视为民族志研究的新一代经典。当然，由于选题的争议性，戈夫曼也不可避免地遇到了一些批评，例如作为一名“局外人”和白人精英，她是否有利用黑人群体之嫌；此外，也有人认为她的研究对象太过极端，以至于加重了社会对这一群体的刻板印象。不过，这些都算是正常范围内的学术切磋，无伤大雅。
		h3 民族志研究的边界
		p 然而今年五月发生了一件奇事：有人匿名向数百名社会学家和相关领域学者寄送了一份长达60页的文档，列出戈夫曼书中的45个疑点，以质疑其研究的真实性。与此同时，这份文档也被公开贴在一些学术和新闻论坛。
		p 匿名检举这种事在学术界来说可谓令人不齿：有什么学术观点不能摆上台面来讨论呢？文档本身也并不专业，遣词造句极为情绪化，逻辑疏漏颇多。一般情况下，这种材料似乎不该引起学界的太多关注；不过这一次，也许是戈夫曼的著作已成为畅销读物进入大众视野的缘故，坊间一时议论纷纷。于是，戈夫曼所在的威斯康星麦迪逊大学成立了一个调查委员会来研究这份文档，最后结论是：“在仔细研究这些主张之后，我们发现它们都站不住脚”。
		p 戈夫曼刚喘了口气，谁料一波未平，一波又起。这次发难的可是重量级对手：西北大学法学院教授Steven Lubet。今年六月，他在《新共和》（New Republic）网站发布了一篇题为《著名社会学家是否曾协助驾车逃离谋杀现场？》的文章，以资深法律学者的身份指出了一个似乎被之前的批评者忽视的问题：戈夫曼是否参与策划了一场未遂的谋杀？
		p 查克死后，他的朋友麦克曾带着枪四处寻找凶手，试图自行复仇。戈夫曼在书中描述道：“有几个夜晚，麦克找不到别人陪他，于是我主动要求跟他去。我们大约凌晨三点出发，麦克坐在副驾驶座上，手中拿着格洛克手枪，指挥我在这片区域转悠。我们窥探那些黑洞洞的房子，查看车型和车牌号，麦克则跟其他人通着电话，他们知道那些四街的男孩在哪儿。” 戈夫曼进一步承认，自己之所以这么做，是因为她也想向杀死查克的凶手复仇。她写道：“回想当时，我很高兴我知道了想让一个人死是什么感受——并不是了解其他人的复仇渴望，而是亲身感受，深入骨髓。”
		p 其中一个夜晚，麦克认为自己发现了一名疑似嫌疑人。他带着枪追了出去，藏在附近的小巷子里。戈夫曼则等在车里，发动引擎，随时等待麦克回到车里并帮他逃跑。后来他们才发现认错了人。
		p Lubet 指出，如果事情真的如戈夫曼所描述的一样，那么根据宾州法律，即使事实上无人死伤，她的行为也已经构成了协助策划谋杀的重罪。
		p 面对这一非同小可的指控，戈夫曼专门撰文回应道，在她看来，这场寻觅只是一场“哀悼仪式”，显然不会出人命；“所谓复仇，只是说说而已”。然而这引发了另一个问题：书中的描述是否夸大了事情的严重程度，从而刻意为读者营造一种紧张的错觉？在戈夫曼生动的文笔下，一名有暴力倾向的青年为朋友之死满怀悲伤与愤怒，夜复一夜地寻找凶手，并在找到之后带着枪躲进小巷；与此同时，他的同伙等在车里让引擎空转——很难想象这种情形可以用“说说而已”打发过去。也就是说，戈夫曼要么犯下了重罪，要么就是在书中扭曲了关键事实。
		p 此外，戈夫曼声称她很清楚嫌疑人的身份，因此Lubet认为她应当主动向警方报告。尽管这并不是她的义务，但放任朋友在街头寻求私人报复，却不向警方寻求援助，这也是一个有违基本道德伦理的奇怪决定。毕竟，她只需要保护自己的研究对象，而杀死查克的凶手并不在此列。
		p 在对边缘人群和犯罪行为进行民族志研究时，学者似乎难以避免地会卷入某些违法行为。对此应该如何处理，学界并没有十分清晰的规定。不过，有一些惯常的做法可以尽可能地保护研究者，例如提前向警方报备、时刻与导师保持联系和听取建议等。然而，戈夫曼在普林斯顿的导师Mitchell Duneier 表示，他和其他论文委员会成员都不知道戈夫曼参与了对查克之死寻求报复的行动，因为这段描述并没有写入戈夫曼的毕业论文。尽管他不怀疑戈夫曼的学术诚实，但他也同意在这件事上戈夫曼做得过火了。Lubet更认为，这可能为之后的研究者做出非常糟糕的示范，暗示他们以研究为名参与犯罪行为是可以被接受的。
		h3 学术诚实与保护研究对象的两难
		p 社会学者需要普遍遵守的研究伦理之一是保护研究对象的隐私。戈夫曼的研究记录了其研究对象的诸多犯罪事实，因此保证他们匿名就显得格外重要。在书中，戈夫曼始终用化名来称呼这些青年；在之前的一次采访中，戈夫曼曾提到她已经粉碎了笔记、丢掉了硬盘，以彻底消除暴露研究对象身份的可能。她也承认，为了保护这些青年，她在书中故意修改了一些事实，包括时间、地点、人物特征等重要细节，以避免其他人通过搜索公共记录轻易辨认出他们。
		p 然而，这也意味着即使出现质疑，戈夫曼也无法透露研究对象的身份或提供原始证据来洗清自己。这正是民族志研究伦理的吊诡之处：为了保护研究对象，许多民族志研究都是无法复制和求证的；任何对研究的质疑都可能导致研究对象身份的暴露。这就形成了研究伦理上的两难局面，其结果是民族志研究的可信性很大程度上要依赖于学者的人品。
		p Lubet对戈夫曼的第二重质疑恰恰在于其学术诚实。他指出，戈夫曼书中所描述的另外两起事件，明显违背了医院规章、警方制度和法律程序，理论上来说是不可能发生的。戈夫曼声称医院会主动向警方提供访客名单，这一点遭到了医院与警方多名内部人员的否认；她还描述了查克的弟弟在11岁时因坐在偷来的车里而被作为从犯判处三年感化，而这根据宾州法律也是不可能的。
		p 随后，马里兰大学的一名社会学家Philip Cohen也对书中提到的一次调查进行了质疑，认为戈夫曼提供的数据在社会调查中是不可能出现的。戈夫曼声称自己访问了该街区全部217个家庭中的308名男性，也就是百分之百的回应率，这未免完美过头了；此外，这也意味着平均每个家庭中有1.4名男性，远高于全国人口普查中的数字（0.57）。戈夫曼则认为，这主要是因为自己采用了民族志的调查方法，而非标准的社会调查；她的目的就在于找到那些在普通的社会调查中不可见的人。但她也承认，原书中存在笔误；她的确采访了217个家庭，但那并不是整个街区的所有家庭。
		p 事实上，在这个信息发达的年代，要想彻底隐藏研究对象的身份几乎是不可能的。2007年的夏天，共有三名23岁的黑人在费城遭到枪杀，其中只有一起案件发生在中餐馆门外。只要通过简单的搜索，人们就能发现这名死者的真实姓名。Lubet很容易就找到了戈夫曼的几名研究对象；在戈夫曼的要求下，Lubet同意不公开这些信息。
		p 与此同时，《纽约杂志》的一名记者Jesse Singal 也轻而易举地发现了查克的真实身份。他来到费城，摸到了查克的母亲所居住的街区，也就是戈夫曼所研究和生活过的“六街”；他在附近发放戈夫曼的照片，试图寻找认识她的人。最后，他找到了查克的母亲琳达和他的朋友约什，以及另外一名书中提及的研究对象。
		p 琳达向Singal证实了戈夫曼曾是儿子的好朋友，并认为她陪伴这个家庭经历了太多事情，自己早已将她当成家人。她主动提到儿子中枪入院时，戈夫曼比她更早赶到医院，这让她非常感动；这侧面印证了戈夫曼的叙述。查克的朋友约什也告诉Singal，戈夫曼书中的细节真实性不容置疑，甚至可能“太真实了”以至于令人觉得不舒服。
		p 在约什的牵线搭桥下，Singal与戈夫曼进行了数次谈话与通信，最后他得出结论：戈夫曼书中的描写几乎完全是真实的；然而，她势必要经历一段艰难的日子，以回应那些激烈的批评。由于缺乏成熟媒体机构中的事实检查环节，她的书中的确存在一些事实疏漏，语言也不尽精确；而与习惯咬文嚼字的法学教授Lubet相比，戈夫曼在公共辩论这一方面显然还不够精通——她的每一次回应，几乎都给对方提供了新的攻击点。
		h3 民族志研究中的观点与事实
		p 也许研究者并非有意掩饰和扭曲事实，但他们对于事实的观察和阐述是否一定可信？如何判断他们不会因自己固有的观点而一叶障目？如果无法用原始材料来回应质疑，民族志研究是否就变成了学者的一面之词？当被指责参与策划谋杀时，戈夫曼的回应已经等于承认自己书中的描述不尽准确。随后，Lubet就这一点进行了更加猛烈的抨击。
		p Lubet对查克的死亡过程进行了调查，认为戈夫曼修改和扭曲了许多细节。首先，警方提供的报告里详细描述了在场的其他人，却完全没有提到戈夫曼的存在；参与调查的警探明确告诉Lubet，他确信病房里绝对不存在一名白人女性。戈夫曼则坚称自己就在病房里，她认为警察很可能误认为她是医护人员，而没想到她会与躺在病床上的黑人男子有任何关系——这也是一种常见的种族刻板偏见。
		p 根据琳达的证言，戈夫曼的解释很可能是真实的，这就带来了第二个问题：在书中，戈夫曼声称警察明知她在现场，却根本没有费心去问她任何问题；她的描述暗示着警察漠视黑人青年的生命，甚至不会花心思去调查案件。而如果警方的记录是真实的，那么戈夫曼这种涉及道德评判的结论就未免过于武断了。
		p 此外，戈夫曼还指责警方在查克死后迅速放弃了调查，结果导致查克的朋友只好自行复仇。但Lubet发现，警方并未放弃调查；他们很快就定位到了两名嫌疑人，并尝试过申请逮捕令。但当时地区检察官认为证据不足，因此案件搁置了一段时间。2012年7月，警方终于收集到足够的证据，逮捕了两名嫌疑人。经过审判，他们于2014年底被判刑；目前案件处于上诉阶段。事实上，如果戈夫曼主动向警方提供线索，也许案件进展还能更快一些。
		p 戈夫曼的书出版于2014年5月，平装版则于2015年4月面世；在这期间，她从未提起过该案件的进展。对此，戈夫曼做出了两个方面的回应：一方面书稿出版周期很长，很难临时增加内容；另一方面她也担心提供更多案件细节会暴露研究对象的身份。但Lubet认为，戈夫曼这本书的主旨之一就是批判警方对黑人区的管理方式，因此，隐瞒案件的进展就显得有些刻意。
		p 这些质疑已经不仅仅是针对戈夫曼个人的研究，而是关乎整个民族志研究方法的可信度问题。西切斯特大学人类学教授Paul Stoller在《赫芬顿邮报》上对此进行了讨论。Stoller 认为，民族志的意义并不是呈现百分之百的事实，而是让人们了解原本陌生的人和事，让不同文化能够意识到对方的存在并进行对话。《在逃》一书中所描述的社区，恰恰是大部分美国人所不曾了解的。与所有研究者和写作者一样，戈夫曼不可避免地会基于自己的经验来理解和阐述其所见所闻，但这并不意味着她的观点就没有价值。戈夫曼也在接受采访时指出，使用民族志方法的社会学研究，关注的是社会中普遍存在且会反复出现的模式，而不是个体经历的细节。
		p 也许大部分民族志学者都熟悉和理解这一研究方法的伦理规则，但圈子内部的广泛认同，并不意味着可以忽视问题的存在。戈夫曼的著作不仅仅是传统意义的学术研究，更被划入畅销书的范畴，有能力影响到更多读者。Slate的主笔Leon Neyfakh撰文指出，相比民族志，新闻调查也需要保护线人身份，但记者通常不会像戈夫曼一样故意模糊事实；每一个细节的改动都需要经过仔细权衡，以确保不会影响报道的真实性。因此，作为一名新闻工作者，他很难理解究竟该如何定义《在逃》一书中提供的数据。
		p 对于《在逃》的质疑已经渐渐冷却，也并未伤害到戈夫曼在学术界的地位。不过，对于民族志研究伦理的争论，也许还会持续下去。戈夫曼无疑是一名勇敢和出色的社会学家，她的研究为我们提供了珍贵的资料，其中不少信息更有助于暴露社会中长期存在的问题；正因如此，这些资料的真实性和可靠性就显得尤为重要。如何在符合法律规定的前提下对社会边缘群体进行学术研究，如何在保护研究对象的同时建立更严格的学术调查机制，如何在社会学研究中更客观地理解和呈现事实，这些都是值得进一步讨论和反思的问题。
	section.endnote
		h4 参考文献
		ul
			li Goffman, A. (2014). <cite>On the Run: Fugitive Life in An American City</cite>. Chicago: University of Chicago Press.
