article.post.gb-punct
	header
		ul.tag
			li 社会
			li 种族主义
			li 美国
		h1 中国人也是歧视黑人的“种族主义者”？
		p.meta
			span.author 陈仲伟
			time 2011-12-28
		
	section
		p 随着中国与撒哈拉以南非洲交往的日益密切，普通中国人对黑人的态度逐渐受到关注。特拉华州立大学历史系副教授程映虹在最新一期的《中国季刊》上就此撰文，他认为：上世纪80年代以来，国人对黑人存在歧视，这种歧视可以分为校园中的种族主义与网络中的种族主义。
		p 在程映宏看来，对黑人的种族偏见由态度转为集体行动肇始于70年代末的大学校园，以分别于1979年、1986年、1988年、1989年发生在上海华东纺织学院、天津、南京河海大学和北京的反黑人运动为显著事件。这种具有种族主义色彩的行动与学生呼吁民主的运动戏剧化地结合在一起，排斥黑人的校园运动以1988年平安夜河海大学黑人留学生为留宿不明身份的女子而打伤中国宿管引发的抗议达到顶峰。大量令人侧目的标语如“打倒黑鬼”“黑鬼滚出去”“杀黑鬼”之类与争取人权、呼吁政改的横幅出现在一起。
		p 《纽约时报》当时曾发表一篇中国学生对南京事件的声明，声称“我们正在迈向一个更广阔和文明的世界，但这并非是说我们将用自己奋斗的果实去喂养不文明的非洲，让黑人在我们的校园里晃悠并引诱我们中国姑娘，把他们在热带森林中养成的习惯影响我们的学习，滥用我们的好客和宽容……如果这些非洲学生不纠正自己，那么等待他们的将是更严厉的有关‘友谊’的教训。这些教训来自美国人的经验，他们知道怎样对付他们社会中的黑人。”后八九时代，海外人权活动家依然与非洲人权活动井水不犯河水。
		p 作者认为，引发校园种族歧视的近因是，改革开放后知识人以美欧日为师，视非洲为现代化的末流，视非洲人为劣等，而在本国教育尚落后与贫困时，政府将资金大量用于扶持非洲国家被看作浪费。作者引用Frank DiKötter的观点认为，其思想根源在“华夷之辨”所体现的文化中心主义心态与社会达尔文主义思潮在晚清的合流。因此，追求民主与歧视黑人不过是现代化诉求与“球籍”焦虑的一体两面。
		p 南京河海大学事件过去二十年后，互联网极大便利了歧视黑人的种族主义者集结，使之取代校园成为种族主义的主要空间。这些网民对非洲的见解与民族主义思想要置于中国成为世界强国的背景中来考察。
		p 2009年7月15日，两名非洲人在广州因躲避警方检查而受伤，继而引发上百名非洲人聚集和围堵派出所抗议，这一事件引爆了非洲人在华的议题。作者分析了此事件前后《南方周末》《广州日报》《环球时报》《南都周刊》对非洲人在华议题报道中的用语，认为它们依然隐含着视非洲为原始、落后的弦外之音，而忽视了非洲作为中国低端产品的市场对中国经济的贡献。
		p 这一事件与相关报道引发了各大论坛对非洲人的偏见，谩骂之外，不少观点通过引证19世纪的优生学而披上科学与理性的外衣，也使稍后在东方卫视《加油！东方天使》出镜的中非混血女娄静及其中国母亲备受关注并饱受非议。
		p 曾在法国读书并出任世行埃塞俄比亚项目办公室主任，有着十多年非洲经历的独立学者刘植荣写过两篇博文：〈中国人为什么在非洲受歧视〉〈非洲人眼里的中国人〉。这两篇博文点击量均不低于十万，后一篇还被《环球时报》（英文版）刊载。这两篇同主题文章时间相差不过一周却风格迥异，前一篇痛陈国人在非洲总遭遇警方与行政机构不公正的待遇，认为中国对非援助是肉包子打狗，并将国人与欧美人在非洲的差别待遇归结于中国未曾殖民非洲，提出非洲是否值得援助之问，文中夹杂大量种族主义词汇。而后一篇则相对客观地列举了非洲人歧视国人的九大原因。
		p 程映虹认为，前一篇才是作者的真实想法。他指出：刘文忽视了60年代以来非洲国家在外交方面对中国的支持，非洲资源对中国经济的重要性，以及70年代中苏在安哥拉展开的代理人战争。作者梳理了新浪博客、中华网、中华网军事论坛对刘文的回帖，发现网民们大致有三个主要观点：非洲不值得援助，只有征服才能赢得尊敬；大陆和台湾为拼外交而竞相在非洲派糖，有违两岸共同福祉，应对台湾采取行动；对非洲，中国政府应施威而非溺爱。这些观点将种族主义话语与民族主义结合在一起。
		p 作者发现，很多人基于自己在非洲的经历而得出歧视性看法，譬如非洲人差别对待，警方、海关等部门刻意刁难中国人以索取贿赂，而中国使馆出于外交需要，不能很好保护其公民。2009年8月，外交部在青田县举行的“树立海外中国公民文明形象宣传月”中，却抱怨在海外的商人与游客“缺乏法律意识、违背商业道德、不尊重当地风俗习惯、劳务人员因派出单位管理不到位引发劳务纠纷等”损害了中国形象，耗费了外交资源，并给外交部门带来不必要的负担。
		p 作者认为，中国在非洲的窘境很大程度上是自己招致的，如中国政府为了换取资源无原则地支持独裁政府；中国企业雇工时的霸王条款，违约，乃至仅雇佣中国人，不能给当地提供就业；缺乏劳动保护，排斥工会；不尊重当地文化与宗教，倾销质次产品甚至假冒伪劣产品，勾结当地精英进行商业欺诈，缺乏商业伦理等。
		p 在程映虹看来，历史上中国人作为种族主义受害者的经验导致我们很难直面自己对黑人的种族歧视。这种歧视凭借商业文化广泛传播，而国人不自知或刻意回避，譬如黑人牙膏（黑人牙膏的英文名Darkie曾因涉嫌歧视而改为Darlie）与黑妹牙膏。再比如，上海世博会的伊利赞助广告中提及“七千万世博游客”，相应图片里却只有华人与白人孩子。
		p 与这些偶发事件相伴的，还有某种凭借教育与流行文化广泛传播的系统的种族主义话语，这种话语常常掺杂在民族主义中。如周口店成为百个爱国主义教育基地之一；《河殇》中通过黑眼睛黑头发黄皮肤的生物学特征与血统的纯洁来塑造中国人的身份；侯德健的《龙的传人》中“黑眼睛黑头发黄皮肤，永永远远是龙的传人”同样将生理特征与图腾崇拜结合乃至成为百首爱国主义歌曲之一；王力宏基于美国出生的身份对《龙的传人》的翻唱与演绎；谢霆锋为庆祝申奥成功创作的《黄种人》所受的热捧等。作为商业策略，这些海外歌星的“爱国朝贡”为种族主义言说和民族主义意识形态相结合提供了捷径。
		p 作者指出，通过80年代以来对非洲的偏见从校园种族主义向网络种族主义演进的过程，我们可以洞悉民族主义与种族主义如何相互强化，相互验证。
		p 作者最后警告，随着中国的崛起，如果披着国家利益与爱国主义外衣的种族主义不经检讨，那么George Mosse所说的“如果国家持续性的以国族特征建构认同，那么民族主义与种族主义就会合流”将得到应验。
