article.post.gb-punct
	header
		ul.tag
			li 民主制度
		h1 民主的丧钟已经敲响？
		p.meta
			span.author 邵立
			time 2016-09-05
		
	section
		p “富裕的民主国家不会崩溃”，这个比较政治学的主流观点，如今正受到强有力的挑战。
		p 一直以来，西方学者都对发达国家的民主保持“迷之信心”，信心来自于这样的一个简单事实：还没有哪一个国家，在人均GDP达到6000美元（1985年标准）之后，跟自己的民主说再见。
		p 然而， 这只是故事的一面。
		p 故事的另一面则是：美国公众对国会的认同只有13%；特朗普在共和党初选中大胜；奥巴马提名大法官受阻；欧洲极右民粹主义政党（法国国民前线、瑞典民主党等）来势汹汹；波兰和匈牙利开始出现政治强人。
		p 种种现象，无不让人心生担忧：民主制是不是快要寿终正寝了？
		p 这样的担忧并非没有根据，研究者Foa和Mounk在分析了1995年至2014年的四波世界价值观调查数据后发现，美国人和欧洲人对民主的认同不断下降，对民主参与的热情逐渐淡化，而与此同时，他们却越来越欣赏威权主义的价值 。
		h3 年轻人“拒绝”民主，欢迎政治强人
		p 以美国为例，有将近75%的“30后”（1930年代出生）认为生活在民主国家“十分重要”，但是有这样想法的80后却只有30％。欧盟也是一样，1950年代出生的受访者对民主的认同达到顶峰——约60％的受访者认同民主制度，但选择相同答案的80后却不超过45％。
		p 对于同一世代的受访者来说，情况也越来越“糟糕”。1995年，有16％的美国”70后”认为民主制度”坏”或”非常坏”，到了2011年，这个数字变成了20％。1990年代中期，欧洲16－24岁的青年只有8％的厌恶民主，但到了2011年，有13％ 的年轻人在相同的年龄阶段反对民主。
		p 不过，这些调查只限于美国和欧洲的年轻人，民主认同的下降并非全球趋势。在印度、中国和撒哈拉以南的非洲，年轻人比起他们的长辈更认同民主的价值。
		p 如果以民主质量的另一个指标——政治参与——来观察，可以发现，1990年， 53％的美国年轻人（16－35岁）对政治”比较有兴趣”或”非常有兴趣”。到了2010年， 只有41％的年轻人持有相同的观点。在欧洲，对政治感兴趣的年轻人在20年间从48％跌到38％，比起他们的长辈，当今的欧美年轻人在投票、参与社会运动或政治抗议的程度均有所下降。
		p 与此形成鲜明对照的是，威权主义在欧美国家却获得越来越多的认同。
		p 1995年，只有十六分之一的美国公民认为军队统治”好” 或”非常好”。如今，认同军队统治的比例上升到六分之一。另外，只有19％的美国年轻人和36％的欧洲年轻人认为军队干涉民主政治是”非常不对”的，而他们的父辈和祖父辈中持同样观点的达到43％（美国）和53％（欧洲）。在美国，认同”应该有一个不受议会和选举制约的强有力领导人”的受访者比例，从1995年的24％上升到2011年的32％。
		p 这一趋势在美国高收入人群中表现得尤其明显：高收入人群认同强人政治的比例从1995年的不足20％，上升到2010年的将近35％。而在相同的时间内，中低收入人群对强人政治的认同则从26％变为31％。
		h3 民主不再是“城中唯一游戏”
		p 民主巩固是民主理论中一个非常重要的概念，在政治学家林兹和斯蒂潘看来，民主巩固意味着民主规则成为政治权力分配的唯一规则（only game in town）。不过，这并不代表民主制度下不存在选举舞弊等”纸牌屋”现象，而是表明国家内部绝大多数的政治行动者都能够遵守民主规则、尊重自由民主的价值，并且相互监督和制约。
		p 一个国家在什么条件下会实现民主化，新生的民主国家又怎样过渡到民主巩固阶段，这是西方学界讨论的热门话题。但几乎没有人关心过：巩固后的民主国家会不会出现崩溃，如果会，又是什么条件导致它们崩溃。
		p 不幸的是，世界价值观调查的证据可能正在暗示着崩溃的可能性，随着千禧一代逐渐成为社会的中坚力量，他们对民主制度的态度也许就代表着民主政体的未来：当他们不再尊重自由民主的“权力游戏”，不再热衷于参与民主政治，民主政体就可能”去巩固化”（deconsolidate）。
		p 当然，去巩固化并不意味着民主制度的马上倒台，但巩固的民主制度会崩溃，已经不再是“天方夜谭” 。“特朗普将会是美国最后一任总统”，这可能只是一句玩笑，不过，对现如今的美国来说，它从民主国家变成威权国家的概率，恐怕比过去五十年间的任何时候，都要大得多。
	section.endnote
		h4 参考文献
		ul
			li Foa, R. S., & Mounk, Y. (2016). The democratic disconnect. <cite>Journal of Democracy, 27</cite>(3), 5–17.
			li Linz, J. J., & Stepan, A. C. (1996). <cite>Problems of democratic transition and consolidation: southern Europe, South America, and post-communist Europe</cite>. Baltimore: Johns Hopkins University Press.
			li Przeworski, A., & Limongi, F. (1997). <cite>Modernization: Theories and Facts. World Politics, 49</cite>(2), 155–183.
			li Putnam, R. D. (2001). <cite>Bowling Alone: The Collapse and Revival of American Community</cite> (1st edition). New York: Touchstone Books by Simon & Schuster.