- var assetsPath = "./"

article.post.gb-punct
	header
		ul.tag
			li 信息图
			li 右派
			li 左派
			li 思想
		h1 读图识政治｜中国的左派与右派
		p.meta
			span.author 方可成
			span.author 龚方舟
			time 2012-02-23
		
	section
		p 在公共讨论中，“左派”与“右派”是被经常提及的两个词。然而，在当下的中国，这两个词的含义是复杂的，有时还是混乱的。到底什么是“左”？什么是“右”？
		p 下面这张由“政见”团队制作的信息图，将在梳理总结学界观点的基础上，为您简明扼要地介绍中国的“左派”和“右派”在政治、经济、文化、国际观等方面的观点，及各自推崇的著作和代表性人物。看了之后，你可以对“左”与“右”形成基本的了解。当然，每个人的观点都是复杂的，也许你在政治方面是右派，经济上却偏向左派，文化上则倾向中立……
		p 需要特别说明的是：这张图表不是严格学术作品，所提供的观点仅供参考。在“左”与“右”之中，又有诸如“极左”“极右”“毛左”“新左”等许多分支，在这里都省略了，有兴趣者可以再针对性地做一些深入的扩展阅读。
		figure
			img(src="#{assetsPath}image/five-3-infograph.jpg")