article.post.gb-punct
	header
		ul.tag
			li 政治
			li 社会
			li 社会平等
			li 社会稳定
			li 美国
		h1 社会不平等真的会导致“火山爆发”吗？
		p.meta
			span.author 缪莹
			time 2012-06-07
		
	section
		p 众所周知，新中国六十余年的发展道路有一道明显的分水岭，隔开了前三十年的毛泽东领导，和后三十年的邓小平改革。从传统角度来看，毛泽东时代的中国十分注重社会平等，有时甚至不惜牺牲经济发展而达成平等的目标。这种摧毁一切旧社会的贫富标识、重新开始的社会整治，使中国在1970年代末达到了前所未有的平等（egalitarian）。而邓小平时代的开始，则意味着市场经济的发展道路重新得到青睐。和毛泽东时代相反，最能体现邓小平改革精髓的一句话是他本人说的：让一部分人先富起来。
		p 改革开放下的中国经济快速发展的同时，社会的不平等也在迅速加深，贫富差距日益加大，基尼系数从1981年的0.29一路飙升到2002年的0.45，这意味着中国的人均收入差距正在形成一道无法跨越的鸿沟。一直以来，学者们（尤其是西方学者）认为人们面对如此差距会产生巨大不满，同时会对毛泽东时代的社会平等和安全感感到怀念，以至威胁目前社会的安定。《纽约时报》评论员约赛夫·昆（Joseph Kuhn）曾在2006年写道：“由于中国大多数人目前认为财富的累积来自于不公平的权力所得而非个人天赋或努力，当今的贫富差距引起了巨大不满，并间接导致了中国当今社会上常见的抗议示威行动。”在他们看来，改革开放中的输家将会是这场社会火山爆发中冲在最前沿的战士。
		p 的确，2004年的调查数据显示，71.7%的中国人认为现今贫富差距太大，55.8%的人认为在官位上的人得到特殊权利是不公平的，76.8%认为不应该阻止外来民工的小孩在城市学校就读，50.1%认为官员们并不在乎老百姓们怎么想。那么，中国的社会真的如同一座火山一样，即将爆发吗？
		p 美国学者怀默霆（Martin King Whyte）并不这么认为。
		p 在同一份调查数据里，他研究发现，大多数人认为一个人是贫是富是看他个人本事（69.5%），只有少数人认为贫富是经济体制的不公平导致的（27%）。在资源再分配方面，只有29%的人支持富人资源再分配给穷人，33%支持设定最高个人所得财富的限制。更重要的是，61.1%的人认为“努力工作总是会有奖励的”，以及“像你这样的人依旧有很多机会能够给自己创造更好的生活条件”。
		p 综合来看，怀默霆发现中国大多数人群对目前的生活条件以及贫富差距持有认可的态度，也就是说，大多数人认为生活好了，贫富差距大了，是应该的。与此同时，和想象中的不同的是，并没有多少人支持“贫富差距是因为不公平的关系利用”这个观点，也就是说，大多数人并不觉得贫富差距等于不公平。在这里，怀默霆特别指出了“不平等”（inequality）和“不公平”（inequity）之间的区别，并强调只有“不公平”的主观感觉而非“不平等”的客观事实会引起不满，进而导致社会不稳定。事实上，过于平等的社会甚至会让人产生资源分配不公平的感觉，所以，平等的事实和公平的感觉之间并没有必然的联系。
		p 对于这种现象，怀默霆的解释是：在毛泽东年代末期，为了达到社会平等的效果，大多数人的社会地位几乎是被下移而非上升了，也就是说，把所有的高个子都变矮了，而非把矮个子拔高了。这种社会中，付出不能达到预期奖励的不满是远远大于社会资源分配不平等的不满的。与此同时，在估量自己的社会地位的时候，人们更可能和自己身边的人去对比，比如同事，家人，朋友，和邻居，而非其他和自己并不相关的人，而恰恰是那些并不相关的人和自己可能有更大的贫富差距，而非自己生活里可能遇到的人。在毛泽东时代，这种身边的对比更可能使人产生例如“为什么我的懒同事还和我领同一份工资”的不满，所以相比之下，当今的社会不平等因为面目模糊而更好接受。
		p 更进一步的研究发现，毛泽东时代的表面平等其实抹杀了社会流动，尤其往上流动的可能性，所以这样的平等反而更加不公平。对于农村人口来说，六十年代起农村户口的执行，意味着他们生在农村，则基本没有机会搬迁到城市，而同时中央对城市发展的重视则意味着他们被压在了社会的底层。对他们来说，改革开放以后他们的社会地位显然比之前好了很多，而这种改善使他们更加愿意通过个人努力而争取更高的社会地位和资源。
		p 相比之下，在城市里，改革开放可能抹掉了毛泽东时代他们所有的一些特权，所以有一定部分的城市居民在调查中表示出了对毛泽东时代的怀念。但总的来说，毛泽东时代的社会平等意味着你生在官僚社会里，并呆在你被分配的位置上，直到国家决定把你搬走。这种个人努力不被奖励的失落和不满是难以形容的。而相比之下，无论现今社会有多么不平等，机会是被看做基本公平的。怀默霆认为，正是这种“不平等却基本公平”的看法使得当今中国社会火山爆发的说法不能成立。
	section.endnote
		h4 参考文献
		ul
			li Whyte, M. K. (2010). Myth of the social volcano: Popular responses to rising inequality in China. <cite>Myth of the Social Volcano: Perceptions of Inequality and Distributive Injustice in Contemporary China</cite>.
