article.post.gb-punct
	header
		ul.tag
			li 中国
		h1 中国国家安全决策机制面临重重挑战
		p.meta
			span.author 归宿
			time 2013-05-29
	section
		p 在外国人眼中，中国的国家安全决策机制是个谜。更有人指出，中国国家安全机制的不透明，引发了外界对中国外交政策的怀疑。近几年来，我们也经常能看到这样的疑问：中国的外交政策是什么？
		p 事实上，对于中国国家安全决策机制研究，也一直是西方智库中的一个热门话题。美国智库布鲁金斯学会（Brookings Institute）孙云的研究报告《中国国家安全决策机制：过程和挑战》（<cite>Chinese National Security Decision-Making: Processes And Challenges</cite>）就是此类研究的代表之作。
		h3 两种国家安全观
		p 孙云指出，中国语境中的“国家安全”与美国语境中的“国家安全”有本质上的不同。
		p 美国的国家安全，指的是来自美国外部的利益和威胁。在美国行政体制中，国家安全委员会是专门负责美国的“国家安全”问题。
		p 而在中国，“国家安全”这个定义就宽泛了很多——不仅涉及外部安全，更涉及内部安全；自然，涉及的部门也多了很多。在学者眼中，一般认为中国的“国家安全”的内涵包括政权安全、外交安全、国防安全、军事安全、经济安全以及应对各类非传统安全。
		h3 从“一个人说了算”到集体领导
		p 孙云认为，从1949年中华人民共和国成立至今，中国的国家安全决策机制发生了天翻地覆的变化。在毛泽东时代，中国国家安全决策权牢牢地掌握在毛本人手中。当时中国的一些重大决策，如进行抗美援朝战争，甚至是毛泽东“力排众议”做出的决定。在这种决策模式下，虽然提高了决策效率，避免了内部争论，但也带来了很多副作用，有些甚至产生了深远的负面影响。
		p 在邓小平时代，中国领导层吸取了毛时代的教训，确立了“集体领导”制度。中国的领导层根据民主集中制的原则对涉及国家利益的重大问题进行讨论，并制定政策。但在这个阶段，邓小平个人仍然发挥着重要的作用。诸如“一国两制”、“搁置争议，共同开发”等重大战略决策都是由邓小平提出的。
		p 邓小平时代之后，中国政治慢慢进入“常人政治”时代，中国领导层的“集体领导”贯彻的更为彻底，决策的“民主化”程度也越来越高。但同时，影响中国国家安全决策的因素也越来越多，中国的决策机制本身也存在一定问题，导致出台的一些政策往往没有达到预想的效果
		h3 挑战重重
		p 作者认为，当前中国国家安全决策机制主要面临以下挑战：
		p 其一，新形势下，“集体领导”的弊端有所凸显。在当今世界，国家安全问题瞬息万变，很多时候决策过程完全基于经验甚至直觉，各相关方在此时相互博弈的也是决策机制。在这个时候，如果有人能“说了算”，优势会非常明显。但中国的“集体领导”制度无疑天生具有一定弊端，在应对快速变化的形势时往往比较吃力。
		p 其二，缺少核心的协调团队。前面也已提到，美国的国家安全问题由国家安全委员会全权负责。但在中国，由于国家安全问题的含义很宽泛，反而没有一个专职的机构有能力协调这些问题。从目前来看，中国的“国家安全问题领导小组”似乎担负着美国国家安全委员会的职责。但该小组自身在体制机制运作上也存在一定问题，阻碍了其更好的发挥作用。
		p 其三，军队和政府部门博弈效应越来越明显。中国军队在中国国家安全决策中发挥的作用越来越明显，发生的声音也越来越大。尽管多数研究者都认为中国军队无意在国家安全政策制定过程中占据主导地位，但军队在涉及自己专业领域政策制定的自主性明显提高。未来军队和政府部门可能在这些方面产生更多的博弈。
		p 其四，部门利益对决策的干扰越来越大。随着参与国家安全决策制定的部门越来越多，各部门也愈发关注自身的利益。一些部门有选择性的报告一些对自己有利的信息，试图将最高决策者向有利于自身的方向引导。在此种情况下，最高决策者往往很难知道真正的情况是怎么样的。
		p 其五，形势分析的客观性往往与现行“指导方针”存在“错位”。对于形势的充分掌握和正确分析是领导层制定政策的基础。但是中国的政策分析人员往往纠结于这样的问题：领导层已经确立了“指导方针”，所有的分析都要在这个大的“指导方针”下进行。有时政策分析人员不得不面对“戴着镣铐跳舞”的境遇。一个最典型的例子就是美国在中国国家安全问题中的作用：中国领导层认为中美之间的矛盾是结构性的，所以一旦有涉及中国国家安全的问题出现，在各类分析报告中美国因素就首当其冲；而这些分析报告又强化了中美“结构性矛盾”这一指导方针，在某种程度上陷入恶性循环。
		p 作者认为，中国遇到的上述挑战，有很多都是根植在中国政治体制机制之中的。尽管在现行条件下，中国领导层可以做出调整，通过一些方法应对这些挑战，但从长远看，还是需要对中国政治运行机制做出大的改革。否则，在这个节奏越来越快的世界里，中国国家安全决策机制的弊端可能体现的更明显，对中国造成的伤害也更大。
	section.endnote
		h4 参考文献
		ul
			li Sun, Y. (2013). <cite>Chinese National Security Decision-Making: Processes And Challenges</cite>. Brookings Instutite.
